{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class = "container pb-2 pt-2 border rounded container-custom info my-3">
  <h2>{% trans "Sign Out" %}</h2>
  <p>{% blocktrans %}Are you sure you want to sign out?{% endblocktrans %}</p>
  
  <form class="login" method="POST" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-success mb-3" type="submit">{% trans "Sign Out" %}</button>
  </form>
</div>


{% endblock %}
