{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class = "container pb-2 pt-2 border rounded container-custom info my-3">
  <h2>{% trans "Sign Up" %}</h2>
  <p>{% blocktrans %}Already have an account? Then please
    <a href="{{ signup_url }}">Sign In</a>.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-success mb-3" type="submit">{% trans "Sign In" %} &raquo;</button>
    </form>
</div>

{% endblock %}
