* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Font */

body {
    font-family: 'Roboto', sans-serif;
}

/* Logo and nav bar */

.logo{
    width: 5.5rem;
}

#navText {
    font-size: 1.1rem;
    font-weight: 700;
    font-family: Lato, sans-serif;
}

/* Home page */

.card-img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.image-container {
    position: relative;
}
.image-flash {
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #F7A133;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.experience-link {
    text-decoration: none;
    color: black;
}

.experience-link:hover,
.experience-link:active {
    color: #f47a33;
}

.masthead {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
    background: no-repeat center center;
    background-size: cover;
    margin-bottom: 3rem;
}

/* About Page */

.col-md-5 img {
    width: 100%;
}

.align-center{
    align-items: center;
}

.about-head {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 30vh;
    width: 100%;
    background: no-repeat center center;
    background-size: cover;
    margin-bottom: 3rem;
}

/* Experience Detail Page */

.experience-title {
    margin-top: 0.5rem;
}

.image {
    width: 100%;
}

.card {
    border: none;
    background-color: transparent;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.center-align {
    justify-content: center;
    text-align: center;
}

.margin-whole {
    margin: 0.5rem;
}

.padding-top {
    padding-top: 1rem;
}

/* Add Experience page */

.submit-box {
    justify-content: center;
    display: flex;
}

.submit-box button {
    width: 10rem;
    height: 3rem;
}

/* Forms */

.form-box {
    width: fit-content;
}

/* Footer */

footer {
    height: 5rem;
}

.bright-bg {
    background-color: #61BDA9;
    font-size: 1.5rem;
}

.social-networks {
    text-align: center;
    display: flex;
    list-style-type: none;
    justify-content: center;
    color: #fff;
}

.social-networks li {
    margin-right: 1%;
}

.social-networks i {
    color: white;
}