* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Logo and nav bar */

.logo {
    width: 10rem;
}

#navText {
    font-size: 1.1rem;
    font-weight: 700;
    font-family: Lato, sans-serif;
}




/* Footer */
.bright-bg {
    background-color: #61BDA9;
    font-size: 1.5rem;
   
}

/* footer */

footer {
    height: 5rem;
}

.social-networks {
    text-align: center;
    display: flex;
    list-style-type: none;
    justify-content: center;
    color: #fff;
}

.social-networks i {
    color: white;
}



/* Sections of Information on Blog post */
.card {
    /* border: none; */
    background-color: transparent;
}

/*Author name label on experience*/
.image-container {
    position: relative;
}
.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    overflow: hidden;
    position: relative;
    display: inline-block;

    height: 33vh;
    width: 100%;
    background: no-repeat center center;
    background-size: cover;
    margin-bottom: 3rem;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}
