{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block content %}

<header class="about-head" style="background-image: url('https://res.cloudinary.com/dawekfpal/image/upload/v1666436720/Travelling%20Foodie/cities-banner_kttohi.png');">
</header>

<div class="container">
    <div class="row align-center">
        <div class="col-md-5 text-center">
            <img src="https://res.cloudinary.com/dawekfpal/image/upload/v1666436723/Travelling%20Foodie/people-eating-around-a-table_gc6em2.jpg" alt="people-eating-around-table">
        </div>
        <div class="col-md-7">
            <h2 class="text-center">Travelling Foodie</h2>
            <p>
                Welcome to Travelling Food. We are more than just a food blog and we are more than just a travel blog.
                We are a food centred, travelling experience hub sharing from around the world. If you are anything like
                us you love to travel and you love food. You love experiencing and exploring different foods, learning
                different cultures and connecting with people through your shared passion. We wanted to create a place
                where people could share their love of food and recipes from around the world, along with the adventures
                that brought them those discoveries. Its not just about food or travel but about sharing, experiences,
                passions, history and knowledge. A way of learning about different cultures connecting with people on
                something as wonderful and wholesome as food. This is a place for you to share, for you to connect and
                for you to discover. We welcome you to the community.
            </p>
        </div>
    </div>
</div>

{% endblock content %}
