{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block content %}

<!-- Experience Details -->
<div class="row mt-2 margin-whole">
    <div class="col-sm-4 pr-2">
        <img class="card-img-top" src=" {{ experience.featured_image.url }}" alt="">
    </div>
    <div class="col-sm-8 border rounded container-custom">
        <h2 class="experience-title">{{ experience.title }}</h2>
        <p class="experience-subtitle">{{ experience.author }} | {{ experience.created_on }}</p>
        <hr>
        <div>
            <p><i class="fa-solid fa-globe"></i>  {{ experience.country | safe }}</p>
        </div>
        <div>
            <p class="card-text "> {{ experience.content | safe }}</p>
        </div>
        <div class="padding-top">
            <h5>Recipe</h5>
            <p>{{ experience.recipe | safe }}</p>
        </div>
        <hr>
        <!-- Experience Likes -->
        <div class="row">
            <div class="col-1">
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'experience_like' experience.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="experience_id" value="{{experience.slug}}" class="btn-like" aria-label="Like button"><i class="fas fa-heart"></i></button>
                    {% else %}
                    <button type="submit" name="experience_id" value="{{experience.slug}}" class="btn-like" aria-label="Like button"><i class="far fa-heart"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
                <span class="text-secondary">{{ experience.number_of_likes }}</span>   
            </div>
            <!-- Experince comments -->
            <div class="col-1">
                {% with comments.count as total_comments %}
                <strong class="text-secondary"><i class="far fa-comments"></i>
                    {{ total_comments }}</strong>
                {% endwith %}
            </div>
        </div>
    </div>
</div>

<!-- Instructions for user to connect -->
<div class="container mt-4">
    <div class="row center-align">
        <div class="col-6">
        {% if user.is_authenticated %}
        {% else %}
        <p>To like or comment <a href="{% url 'account_login' %}" aria-label="Go to Login page">Log In</a> or <a href="{% url 'account_signup' %}" aria-label="Go to sign up page">Sign Up</a></p>
        {% endif %}
        </div>
    </div>
</div>

<!-- Edit experience box -->
<div class="container mt-4">
    <div class="row center-align">
        <div class="col-6">
            {% if request.user == experience.author %}
            <h5>Manage your Experience:</h5>
            <strong>{{ experience.author }}</strong> - {{ experience.title }}
            <p>
                <a href="{% url 'experience_edit' experience.slug %}" class="btn btn-success"><i class="fa fa-edit"></i> | Edit </i></a>
                <a href="{% url 'experience_delete' experience.slug %}" class="btn btn-danger"><i class="fa fa-trash"></i> | Delete </i></a>
            </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
    </div>
</div>

<!-- Experience Comments Box-->
<div class="row margin-whole">
    <div class="col-md-8 card mb-4  mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    {{ comment.author }}
                    <span class=" text-muted font-weight-normal">
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ request.user }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-lg">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}