{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Experience Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for experience in experience_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in experience.featured_image.url %}
                                <img class="card-img-top" src="https://res.cloudinary.com/dawekfpal/image/upload/v1664818612/cld-sample-4.jpg" alt="">
                                {% else %}
                                <img class="card-img-top" src=" {{ experience.featured_image.url }}" alt="">
                                {% endif %}
                                <div class="image-flash">
                                    <p>Author: {{ experience.author }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>

</div>

{%endblock%}